html,body{
    font-family:"Trebuchet MS", Helvetica, sans-serif;
    text-align:center;
    min-width:260px;

    --empire-red: rgb(139, 32, 25);
    color:var(--empire-red);

    --light-grey: rgb(190, 190, 190);
    background: var(--light-grey);
}

#main{
    margin:30px auto;
    padding:15px;
    border:0px solid;
    border-radius:5px;
    background: rgb(190, 190, 190);
}

.header {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-self: center;
    /*position: fixed;*/
    top: 0;
    background-color: rgb(190, 190, 190);
}

#logo {
    width: 10%;
    height: 64px;
    /* min-width: 100px; */
    /*display: inline-block;*/
}

#logo img {
    height: 64px;
    width: 64px;
}

#navbar {
    width: 15%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    height: 100%;
}

#navbar header {
    padding: 0 0 0 0;
}

#navbar ul {
    list-style: none;
    padding-top: 10px;
    padding-left: 0px;
}

#navbar li {
    display: flex;
    /*padding: 20px 0px 20px 0px;*/
    border: solid 1px var(--empire-red);
    margin: 2px auto;
}

.nav-link {
    width: 100%;
    text-align: center;
    padding: 20px 0px 20px 0px;
}

.nav-link:hover {
    background: rgb(221, 170, 111);
}

@media screen and (max-width: 600px) {
    .header {
        flex-wrap: wrap;
    }
}

blockquote{
    display: block;
    max-width: 600px;
    font-style: italic;
    margin: auto;
    background-color: var(--light-grey);
    border: 3px solid rgb(139, 32, 25);
    margin-top: 3em;
}

blockquote p {
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 0px;
    padding-bottom: 0px;
    text-align: left;
}

blockquote div {
    text-align: right;
    padding-right: 3em;
    padding-left: 5em;
    margin-bottom: 1em;
}

.introduction {
    padding-bottom: 3em;
}

header {
    font-size: 2em;
}

#header-img {
    width: 100%;
}

.nav-link {
    color: var(--empire-red);
    text-decoration: none;
}

#product-form {
    margin-top: 2em;
    margin-right: auto;
    margin-left: auto;
    max-width: 660px;
    border: 3px solid var(--empire-red);
    font-size: 1em;
}

#product-form .rowForm {
    border: 2px solid green;
    margin: 0em;
}

#product-form .labels {
    display: inline-block;
    text-align: right;
    width: 40%;
    vertical-align: top;
    margin-top: 10px;
    padding: 6px;
}

#product-form .fields {
    display: inline-block;
    text-align: left;
    width: 48%;
    vertical-align: middle;
}

.input-field {
    /*height: 20px;*/
    width: 80%;
    padding: 5px;
    margin: 10px;
    border: 1px solid var(--empire-red);
    border-radius: 2px;
}

#submit {
    /*background-color: #59ace0;*/
    border-radius: 4px;
    color: var(--empire-red);
    font-size: 1em;
    height: 40px;
    width: 96px;
    margin: 10px;
    border: 1px solid var(--empire-red);
    cursor: pointer;
}

.productTable td, .productTable th {
    border: solid 1px var(--empire-red);
    border-collapse: collapse;
}

.productTable {
    border: solid 1px var(--empire-red);
    text-align: left;
    margin: 0 auto;
}

.productTable th {
    background: rgb(229, 160, 155);
}

.productTable td {
    background: rgb(176, 230, 169)
}

.pricingTable {
    border: solid 1px var(--empire-red);
    text-align: left;
    margin: 0 auto;
}

.pricingTable th {
    background: rgb(229, 160, 155);
}

.pricingTable td {
    background: rgb(176, 230, 169)
}

.pricingTable td, .pricingTable th {
    border: solid 1px var(--empire-red);
    border-collapse: collapse;
}