html,body{
    font-family:"Trebuchet MS", Helvetica, sans-serif;
    text-align: justify;
    min-width:260px;

   --light-grey: rgb(66, 66, 66);

    --header-color: #22313F;

    --link-hoover-color: #00ACE9;
    --section-even-color: #222930;
    --section-odd-color: #404040;

    --text-color1: #4EB1BA;
    --text-color2: #E9E9E9;

    --color4: #D43F3F;
    --color4: #6A9A1F;
    --color4: #F6F6E8;

    color: var(--text-color);
    background: var(--light-grey);
}

* {
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 64px;
    align-self: center;
    top: 0;
    font-size: 1.5em;
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;

    background: var(--header-color);
    color: var(--text-color2);
}

.logo {
    height: 64px;
}

.logo img {
    height: 64px;
    width: 64px;
}

.navbar {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-content: flex-end;
    height: 64px;
    align-self: center;
    top: 0;
}

.navbar ul {
    height: 64px;
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.navbar li {
    display: inline-block;
    margin: 0px 1em 0px 1em;
}

.nav-link {
    width: 100%;
    text-align: center;
    text-decoration: none;
    padding: 5px;
    color: inherit;
}

.nav-link:visited {
    color: inherit;
}

.nav-link:hover {
    background: var(--link-hoover-color);
    border-radius: 5%;
}

@media screen and (max-width: 600px) {
    .header {
        flex-wrap: wrap;
    }
}

.headings {
    margin-bottom: 4em;
    text-align: center;
}

.introduction {
    background: var(--section-odd-color);
    color: var(--text-color1);
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.work {
    background: var(--section-even-color);
    color: var(--text-color1);
    min-height: 100vh;
    top: 0;
    left: 0;
    padding: 10vh 5vh 5vh 5vh;
    padding-top: 10vh;
    text-align: center;
}

.work a {
    color: inherit;
}

.projects {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.projects .project-tile {
    display: block;
    /*background: teal;*/
    min-height: 270px;
    width: 400px;
    margin: 20px auto;
    /*padding: 10px;*/
    border: solid 2px var(--text-color1);
}

.projects .project-tile img {
    width: 100%;
    min-height: 200px;
    min-width: 100%;
}

.projects .project-tile a {
    text-decoration: none;
    padding: 1em;
}

.technologies {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.technology {
    color: inherit;
    background: black;
    border-radius: 10%;
    border: solid 2px green;
    padding: 5px;
    margin: 5px;
}

.show-all {
    text-decoration: none;
    display: block;
    width: 200px;
    height: 30px;
    margin: 20px auto 90px;
    background: var(--text-color2);
    color: inherit;
    font-weight: bold;
    font-size: 1em;
    border: 2px solid var(--text-color1);
    border-radius: 4px;
    cursor: pointer;
    padding-top:10px;
  }

.show-all:hover {
    background: var(--link-hoover-color);
    color: var(--text-color2);
    border: 2px solid var(--link-hoover-color);
}

.socials {
    background: var(--section-odd-color);;
    color: var(--text-color1);
    height: Calc(100vh - 128px);
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.socials .social-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
}

.social-link {
    margin: 0px auto;
}

.fa {
    padding: 20px;
    font-size: 75px;
    width: 75px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

.fab:hover {
    opacity: 0.7;
}

.fa-github {
    color: black;
}

.fa-twitter {
    color:rgb(0,172,237);
}

.fa-envelope {
    color: black;
}

footer {
    background: var(--header-color);
    color: var(--text-color2);
    line-height: 40px;
    height: 64px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}
  
footer a {
    color: var(--text-color2)
}