html,body{
    font-family:"Trebuchet MS", Helvetica, sans-serif;
    text-align: justify;
    min-width:260px;

    --empire-red: rgb(139, 32, 25);
    color:var(--empire-red);

    --light-grey: rgb(190, 190, 190);
    /*background: var(--light-grey);*/
    background: grey;
}

* {
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 64px;
    align-self: center;
    top: 0;
    background-color: rgb(190, 190, 190);
    font-size: 1.5em;
    /*height: 100%; *//* Full-height: remove this if you want "auto" height */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    /*overflow-x: hidden;*/ /* Disable horizontal scroll */
    /*padding-top: 20px;*/
}

#logo {
    height: 64px;
}

#logo img {
    height: 64px;
    width: 64px;
}

#navbar {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-content: flex-end;
    height: 64px;
    align-self: center;
    top: 0;
}

#navbar ul {
    height: 64px;
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

#navbar li {
    display: inline-block;
    margin: 0px 1em 0px 1em;
}

.nav-link {
    width: 100%;
    text-align: center;
    /* padding: 20px 0px 20px 0px; */
    color: var(--empire-red);
    text-decoration: none;
}

.nav-link:hover {
    background: rgb(221, 170, 111);
}

@media screen and (max-width: 600px) {
    .header {
        flex-wrap: wrap;
    }
}

#main {
    /*margin-top: 64px;*/
}

.headings {
    margin-bottom: 4em;
    text-align: center;
}

.introduction {
    background: green;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.work {
    background: red;
    min-height: 100vh;
    top: 0;
    left: 0;
    padding: 10vh 5vh 5vh 5vh;
    padding-top: 10vh;
    text-align: center;
}

.projects {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.projects .project-tile {
    display: block;
    /*background: teal;*/
    min-height: 270px;
    width: 400px;
    margin: 20px auto;
    /*padding: 10px;*/
    border: solid 2px teal;
}

.projects .project-tile img {
    width: 100%;
}

.projects .project-tile a {
    text-decoration: none;
    padding: 1em;
}

.technologies {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.technology {
    color: white;
    background: black;
    border-radius: 10%;
    border: solid 2px green;
    padding: 5px;
    margin: 5px;
}

.show-all {
    text-decoration: none;
    display: block;
    width: 200px;
    height: 30px;
    margin: 20px auto 90px;
    background: #e0ebe8;
    color: #008080;
    font-weight: bold;
    font-size: 1em;
    border: 2px solid #90C695;
    border-radius: 4px;
    cursor: pointer;
    padding-top:10px;
  }

.show-all:hover {
    background: #E4F1FE;
    color: green;
}

#main-doc {
    margin-left: 220px;
}

.socials {
    background: pink;
    height: Calc(100vh - 64px);
    top: 0;
    left: 0;
    padding: 10vh 5vh 5vh 5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.socials .social-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
}

.social-link {
    margin: 0px auto;
}

.fa {
    padding: 20px;
    font-size: 75px;
    width: 75px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

.fab:hover {
    opacity: 0.7;
}

.fa-github {
    color: black;
}

.fa-twitter {
    color:rgb(0,172,237);
}

.fa-envelope {
    color: black;
}

.introduction #intro-text {
    text-align: center;
}

footer {
    padding: 20px;
    background: #22313F;
    color: white;
    line-height: 40px;
    text-align: center;
  }
  
  footer a {
    color: white;
  }